body {
  min-height: 100%;
  background: url(https://images7.alphacoders.com/592/592678.jpg) #121212;
  background-size: 100vw;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
#toggle_btn {
  font-size: 3vh;
}
.pokenav_link {
  color: white;
  margin-left: 2vw;
  margin-right: 2vw;
  font-size: 3vh;
}
.pokenav_link:hover {
  color: #f07900;
}
#myBrand {
  font-size: 3vh;
}
#txt_header {
  margin-top: 10vh;
  margin-bottom: 15vh;
}
#game_headline {
  font-family: "Mochiy Pop One", sans-serif;
  color: white;
  font-size: 8vw;
  text-align: center;
}
#sub_headline {
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 2.5vw;
  color: #d35100;
  text-align: right;
  display: inline-block;
  transform: translateX(375%);
}
#above_headline {
  text-align: left;
  display: inline-block;
  transform: translate(300%, 70%);
  font-size: 1.2vw;
  margin: none;
  color: #e31c25;
}
.picture_card {
  border-radius: 20px;
}
.card_txt {
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 2.5vw;
  color: #ff575e;
}
.guide_card {
  background-image: url(../images/backgrounds/BurningOrange.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}
.guide_headline {
  display: inline-block;
  font-family: "Mochiy Pop One", sans-serif;
  color: white;
  padding: 1vh;
  font-size: 3.5vw;
  background: linear-gradient(
    90deg,
    rgba(187, 0, 14, 1) 0%,
    rgba(18, 18, 18, 1) 80%
  );
}
#change_mapscene {
  width: 80%;
  height: 70vh;
  background-image: url(../images/backgrounds/MidnightCity.jpg);
  background-size: cover;
  background-position: center;
  padding: 3vh;
}
