/* general css
body {
  background-image: url("../images/backgrounds/AzurLane.jpg");
  background-size: cover;
  background-position: center;
}
.nav_links {
  font-size: 2.5vh;
}
.nav_btn {
  font-size: 1.5vh;
}
#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
#signup_con {
  width: 60%;
}
@media screen and (max-width: 768px) {
  #signup_con {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  #signup_con {
    width: 50%;
  }
}
@media screen and (max-width: 1200px) {
  #signup_con {
    width: 70%;
  }
}
footer {
  font-size: 2vh;
} */

/* home css */
.home_show {
  padding: 3vh;
  width: 90%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}
#water_poke {
  background-image: url("../images/backgrounds/BlueSkies.jpg");
}
#fire_poke {
  background-image: url("../images/backgrounds/BurningOrange.jpg");
}
#grass_poke {
  background-image: url("../images/backgrounds/Quepal.jpg");
}
#normal_poke {
  background-image: url("../images/backgrounds/MidnightCity.jpg");
}
video {
  width: 100%;
}
#news_div {
  width: 70%;
}
.news_card {
  height: 30vh;
}
.article_news {
  color: white;
  font-weight: 900;
}
#sign_div {
  width: 90%;
  background-color: white;
}
#icon_stats {
  width: 70%;
}
.start_btn {
  width: 50%;
}
