/* general css */
/* body {
  min-height: 100%;
  background: url(https://images7.alphacoders.com/592/592678.jpg) #121212;
  background-size: 100vw;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
#toggle_btn {
  font-size: 3vh;
}
.pokenav_link {
  color: white;
  margin-left: 2vw;
  margin-right: 2vw;
  font-size: 3vh;
}
.pokenav_link:hover {
  color: #f07900;
}
#myBrand {
  font-size: 3vh;
}
header {
  margin-bottom: 5vw;
}
main {
  min-height: 80vh;
} */
/* anime css */
#headline_anime {
  font-family: "Mochiy Pop One", sans-serif;
  color: white;
  font-size: calc(15px + 6vw);
}
#anime_icon {
  font-size: calc(15px + 4vw);
  color: #f07900;
  transform: translate(-50%, 50%);
}
.gif_con {
  width: 70%;
}
#search_form {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.anime_star {
  color: #d1bb1d;
}
